/* components/Weather/Favourites.css */
.favourites-container {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 14px; /* Adjust font size */
    text-align: left;
  }
  
  .favourites-container h2 {
    margin-bottom: 20px;
    font-size: 16px; /* Title font size */
  }
  
  .favourite {
    margin-bottom: 20px;
  }
  
  .favourite-weather {
    margin-left: 10px;
  }
  