.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #d0e0d5; /* Existing background color */
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-logo img {
  height: 100px;
}

.navbar-title {
  flex-grow: 1;
  text-align: center;
}

.navbar-title h1 {
  font-size: 2.5em;
  margin: 0;
  color: #3b3b3b; /* Make the title banner pop */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.navbar-tray {
  margin-left: auto;
}
